
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
 
 font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
}
.navbar{
  background-color: rgb(105, 40, 40);
}
.Brand-name{
  color: rgb(8, 77, 77);
}
#header{
  height: 85vh;
}
@-webkit-keyframes up-down {
  0% {
    transform: translatey(10px);

  }
  100%{
    transform: translatey(-10px);
  }
}
@keyframes up-down {
  0% {
    transform: translatey(10px);

  }
  100%{
    transform: translatey(-10px);
  }
}
.animated{
  border: 4px;
  min-width: 381px;
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
  
}
.imageChnage{
  height: 179px !important;
  /* width:50px !important; */
  /* border: 2px solid red; */
}
.btnn{
  border-color: rgb(5, 89, 89) !important;
  border: solid;
  text-decoration: none;
  padding: 4px;
  border-radius: 6px;
}
#somewhere{
  border-color: rgb(5, 89, 89) !important;
  border: solid;
  text-decoration: none;
  padding: 4px;
  border-radius: 6px;
}
